body{
    background: #343d46; /* slate blue? */
    font-family: 'Lato', sans-serif;
}
.search {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: #343d46;
}
.masthead h1 {
    width: 100%;
    top: 3%;
    position: absolute;
    text-align: center;
    margin: auto;
    color:  #f4f1d6; /* volkswagen pastel white */
}

.masthead p {
    width: 100%;
    top: 25%;
    position: absolute;
    text-align: center;
    margin: auto;
    color: #c4302b;
}
strong, h2, h3 {
    color: #c4302b; /* youtube red */
}

.box {
    margin: 5rem auto;
    width: 23%;
    height: 2rem;
}

.icon {
    position: absolute;
    top: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
    z-index: 1;
    color: #4f5b66;
}

#search-term {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

#search-term input#query{
    width: 90%;
    height: 3rem;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 3rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#search-term input#query:hover, #search-term input#query:focus,
    #search-term input#query:active{
    outline:none;
    background: #5c636a;
    color: white;
  }


.button {
    width: 70%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    outline:none;
    background-color: #4CAF50;
    position: relative;
    margin: 1rem auto;
    left: 17%;
}  

.button:hover {
    background-color:#5db761;
}

.button:active {
    background-color:#265728;
}

/* Results section declarations */
#search-results {
    width: 100%;
    position: absolute;
    top: 12rem;
}

#channel-section {
    float: left;
    width: 50%;
}

#video-section {
    float: right;
    width: 50%;
}

a {
    color: #f4f1d6;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* Tiny bit of responsive */
@media screen and (max-width: 800px) {
    .button {
        font-size: 10pt;
    }
}